.title {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.title h1 {
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  color: rgb(34, 73, 95);
}
.underline {
  width: 10rem;
  height: 0.45rem;
  margin-bottom: 2.25rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(18, 185, 236);
}
.refresh {
  border: 0.2rem solid rgb(0, 162, 255);
  background: transparent;
  padding: 0.3rem 2rem;
  color: skyblue;
  text-transform: capitalize;
  margin-top: 2rem;
  font-size: 2.8rem;
  text-align: center;
  cursor: pointer;
  align-self: center;
}
